@model List<Category>

<div class="container">
	<div class="row pt-4">
		<div class="col-6">
			<div class="text-primary fs-2 fw-bold text-black">Category List</div>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Category" asp-action="Create" class="btn btn-primary m-2">
				Create Category
				<i class="bi bi-file-earmark-plus"></i>
			</a>
		</div>
	</div>

</div>
<table class="table table-bordered table-striped">
	<thead>
		<tr> 
			<th>
				Categories
			</th>
			<th>
				Display Order
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var cat in Model.OrderBy(el => el.DisplayOrder))
		{
			<tr>
				<td>@cat.Name</td>
				<td>@cat.DisplayOrder</td>
			</tr>
		}
	</tbody>
</table>