@using Shelf.Models
@model Product

<form method="post">
	<div class="border p-3 my-4 border-radius rounded">
		<div class="row pb-2">
			<h2 class="text-primary">
				Create Product
			</h2>
			<hr/>
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="Title"></label>
			<input asp-for="Title" type="text" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Description"></label>
			<textarea asp-for="Description" type="text" class="form-control"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="ISBN"></label>
			<input asp-for="ISBN" type="text" class="form-control" />
			<span asp-validation-for="ISBN" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="ListPrice"></label>
			<input asp-for="ListPrice" type="text" class="form-control" />
			<span asp-validation-for="ListPrice" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Price"></label>
			<input asp-for="Price" type="text" class="form-control" />
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Price50"></label>
			<input asp-for="Price50" type="text" class="form-control" />
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Price100"></label>
			<input asp-for="Price100" type="text" class="form-control" />
			<span asp-validation-for="Price100" class="text-danger"></span>
		</div>
	<button type="submit" class="btn btn-primary" style="width: 150px">Create</button>
		<a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Go back</a>

	</div>
</form>
<partial name="_Notification" />
<!-- 
	If we want to add another file in this file we do it as shown below.
	Here, we are using partial tag with name attr which has the file name.
	This file name is taken from the Shared folder as we didn't give any path.
-->
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
