@model List<Product>

<div class="container">
	<div class="row pt-4">
		<div class="col-6">
			<div class="text-primary fs-2 fw-bold text-black">Product List</div>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Product" asp-action="Upsert" class="btn btn-primary m-2">
				Create Product
				<i class="bi bi-file-earmark-plus"></i>
			</a>
		</div>
	</div>

</div>
<table id="tblData" class="table table-bordered table-striped">
	<thead>
		<tr> 
			<th>Title</th>
			<th>ISBN</th>
			<th>Price</th>
			<th>Author</th>
			<th>Category</th>			
			<th></th>
		</tr>
	</thead>
	<tbody></tbody>	
</table>

@section Scripts {
	<script src="~/js/product.js"></script>
}
